<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ski Jumpers Classification</title>

        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    </head>
    <body ng-app="myApp">
        <div class="container" ng-controller="tableController">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="text-center">Ski Jumpers Classification</h1>

                    <!--row start-->
                    <div class="row">
                        <!--col start-->
                        <div class="col-xs-6">
                            <div class="input-group">
                                <span class="input-group-addon">Search: </span>
                                <input type="text" class="form-control" placeholder="type here..." ng-model="searchbox">
                            </div>
                        </div>
                        <!--col end-->

                        <!--col start-->
                        <div class="col-xs-6">
                            <!-- Modal -->
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-md pull-right" data-toggle="modal" data-target="#myModal">
                                Add SkiJumper
                            </button>

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>NAME</label>
                                                <input type="text" class="form-control" ng-model="newName">
                                            </div>

                                            <div class="form-group">
                                                <label>NATIONALITY</label>
                                                <input type="text" class="form-control" ng-model="newNation">
                                            </div>


                                            <div class="form-group">
                                                <label>RANK</label>
                                                <input type="text" class="form-control" ng-model="newRank">
                                            </div>

                                            <div class="form-group">
                                                <label>POINTS</label>
                                                <input type="text" class="form-control" ng-model="newPts">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button ng-click="addNewMember()" type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--col end-->
                        </div>
                        <!--row end-->
                    </div>
                    <br><br>

                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th ng-repeat="head in ['name', 'nation', 'rank', 'points']">
                                        {{head}}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="person in members | filter : searchbox">
                                    <td>{{person.Name}}
                                        <button ng-click="editMember =! editMember" class="btn btn-default btn-xs">EDIT</button>
                                        <input class="form-control" ng-if="editMember" ng-model="person.Name">
                                    </td>
                                    <td>{{person.Nation}}</td>
                                    <td>{{person.rank}}</td>
                                    <td>{{person.pts}}</td>
                                    <td><button ng-click="deleteMember($index)" class="btn btn-danger">&times</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>